<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="index">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>

    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">

    <!--Bootstrap-->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>

    <!--Angular-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="js/app/app.js"></script>
    <script src="js/app/controllers/index.js"></script>
</head>

<body class="container">
    <div class="row">
        <h1>{{title}}</h1>
        <div class="card-deck-wrapper">
            <div class="card-deck">
                <div class="card card-block" ng-repeat="a in algorithms">
                    <h4 class="card-title">{{a.Name}}</h4>

                    <canvas id="{{a.Name}}Canvas" width="270" height="{{heightOfCanvas}}">
                        Your browser does not support HTML5 Canvas.
                    </canvas>

                    <p class="card-text">
                        <a class="btn btn-primary-outline btn-sm" ng-click="generate(a)">
                            <i class="fa fa-refresh" aria-hidden="true"></i> Generate New Collection
                        </a>
                        <a class="btn btn-danger-outline btn-sm" ng-click="sort(a)">
                            <i class="fa fa-cog" aria-hidden="true"></i> Sort
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>